@font-face {
	font-family: "HelveticaNeue-Light";
	src: url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?") format("eot"),
		//url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff2") format("woff2"),
	url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff") format("woff"),
	url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf") format("truetype"),
	url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg#Samplino") format("svg");
}
@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue.eot?") format("eot"),
		//url("../fonts/HelveticaNeue-Regular/HelveticaNeue.woff2") format("woff2"),
	url("../fonts/HelveticaNeue-Regular/HelveticaNeue.woff") format("woff"),
	url("../fonts/HelveticaNeue-Regular/HelveticaNeue.ttf") format("truetype"),
	url("../fonts/HelveticaNeue-Regular/HelveticaNeue.svg#Samplino") format("svg");
}